/*Estilos propios--Carlos Villera--Portafolio*/
/*Estilos loader page */
@import url('https://fonts.googleapis.com/css?family=Signika+Negative');

html,body{
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #eeeeee; 
}
/* section perfil */
.header__perfil{
    background: #334960;
    background-size: cover;
}
.avatar{
    max-width: 250px;
    max-height: 250px;
    border-radius: 25em;
    border: solid #ffffff 2px;
    
}
.avatar__title{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 0;
}
/* Fin section perfil */
/* estilos loader page */
#contenedor {
  background: #FFFFFF;
  height: 100%;
  width: 100%;
  position: fixed;
  transition: all 1s;
  z-index: 10000; }

#cargar {
  border: 8px solid #eeeeee;
  border-top-color:#334960;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: girar 250ms linear infinite; }

@keyframes girar {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* FIN Estilos loader page */

@media (max-width: 740px) {
            .full-height,
            .full-height body,
            .full-height header,
            .full-height header .view {
                height: 700px;
            }
        }
/* FIN Estilos propios--Carlos Villera--Portafolio*/
