/*Estilos propios--Carlos Villera--Portafolio*/
/*Estilos loader page */
/*fuentes*/
@import url('https://fonts.googleapis.com/css?family=Signika+Negative');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,body{
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #eeeeee; 
    overflow-x: hidden;
}
a{
 text-decoration: none;
 color: #334960;
}
a:hover{
 text-decoration: none;
 color: grey;
}
.v-100{
    height: 100vh;
}
/* section perfil */
.header__perfil{
    background: #334960;
    color: #ffffff;
    background-size: cover;
}

.avatar{
    max-width: 200px;
    max-height: 200px;
    border-radius: 25em;
    border: solid #ffffff 2px;
    margin-top: 100px;
    -webkit-transition: all 180ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 180ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 180ms ease-in;
    -moz-transform: scale(1);
    -o-transition: all 180ms ease-in;
    transition: all 180ms ease-in;
    transform: scale(1);
    
}
.avatar:hover{
    -webkit-box-shadow: 0px 0px 20px grey;
    box-shadow: 0px 0px 20px grey;
    z-index: 2;
    -webkit-transition: all 180ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 180ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 180ms ease-in;
    -moz-transform: scale(1.5);
    -o-transition: all 180ms ease-in;
    transition: all 180ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.05); 
}
.avatar__title{
    font-size: 3rem;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;

}



/* Fin section perfil */
/* estilos loader page */
#contenedor {
  background: #FFFFFF;
  height: 100%;
  width: 100%;
  position: fixed;
  transition: all 1s;
  z-index: 10000; }

#cargar {
  border: 8px solid #eeeeee;
  border-top-color:#334960;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: girar 250ms linear infinite; }

@keyframes girar {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* FIN Estilos loader page */
/* Section about-me */
/* Fin section about-me */
.about{
    background: #00897b;
    color: #ffffff;
}
.about__title{
    font-size: 3rem;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}

/*Estilos section proyectos*/

.proyectos{
    background: #FED766;
}

.tarjetas{
     font-family: 'Montserrat', sans-serif;
}
.img-tarjetas{
    border-radius: 0.5em;
    max-width: 300px;
    max-height: 250px;
}
.descripcion{
    font-size: 1rem;
}
.btn-perfil{
    display:inline-block;
    height: auto;
    width:14em;
    line-height:2.6rem;
    border-radius:5em;
    color: #ffffff;
    border:2px solid teal;
    white-space:nowrap;
    font-size: 1rem;
    font-weight:300;
    text-transform:uppercase;
    text-decoration:none;
    background-color:transparent;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-transition:color 0.2s 0.3s, background-color 0.3s ease-in-out, width 0.3s 0s;
    transition:color 0.2s 0.3s, background-color 0.3s ease-in-out, width 0.3s 0s;
}

.btn-perfil:hover{
    background-color: teal;
    color:#ffffff;
    width:14.5em;
}
.btn-about{
    display:inline-block;
    height: auto;
    width:18em;
    line-height:2.6rem;
    border-radius:5em;
    color: #000000;
    border:2px solid #334960;
    white-space:nowrap;
    font-size: 1em;
    font-weight:300;
    text-transform:uppercase;
    text-decoration:none;
    background-color: transparent;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-transition:color 0.2s 0.3s, background-color 0.3s ease-in-out, width 0.3s 0s;
    transition:color 0.2s 0.3s, background-color 0.3s ease-in-out, width 0.3s 0s;
}
.btn-about:hover{
    color:#ffffff;
    background-color: #334960;
    width:19em;
}
.contacto{
    background: #009688;
    color: #ffffff;
}
.social-media i{
    color: #ffffff;
}
@media (max-width: 740px) {
            .full-height,
            .full-height body,
            .full-height header,
            .full-height header .view {
                height: 700px;
            }
        }
/* FIN Estilos propios--Carlos Villera--Portafolio*/
