
html,body{
	font-family: Roboto;
	background: #F5F5F5;
}
.perfil{
	background: #FF5722;
	color: #ffffff;
	padding: 200px
}
.avatar{
	max-width: 200px;
	max-height: 200px;
	border-radius: 50%;
	border: solid white 2px;
	margin: 0px;
}
.proyectos{
	background: #E0E0E0;
}
.t-proyecto{
	margin: 10px;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }