
html,body{
	font-family: Roboto;
	background: #F5F5F5;
}
.sombra {
  -webkit-transition: box-shadow 0.55s;
  transition: box-shadow 0.55s;
  box-shadow: 0; }
.sombra:hover {
  -webkit-transition: box-shadow 0.45s;
  transition: box-shadow 0.45s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.perfil{
	background: #FF5722;
	color: #FFFFFF;
	display: 100%;
	align-content: center;
}
.text-perfil{
	margin:50px 0px 50px 0px ;
}
.avatar{
	max-width: 200px;
	max-height: 200px;
	align-content: center;
	border-radius: 50%;
	border: solid white 2px;
	margin: 50px;
}
.tarjetas{
	padding: 40px;
}
.card{
	margin:30px;
}
.proyectos{
	background: #E0E0E0;
	display: 100%;
}
.t-proyecto{
	margin: 10px;
}
.contacto{
	background: #03A9F4;
	color: #FFFFFF
}
.titulo{
	margin:15px;
}
.titulo:hover{
	text-shadow: -2px 2px 2px;
}
}
.mapa{
	border-radius: 8%;
}
.material-icons.md-18 {
	font-size: 18px;
}
.material-icons.md-24 {
	font-size: 24px;
}
.material-icons.md-36
{
	font-size: 36px;
}
.datos{
	margin:25px 25px 25px 0px;
}
.iconos{
	margin:15px 0px 15px 15px ;
}
.copy{
	margin:10px 10px 10px 0px;
}
.material-icons.md-big {
font-size: 50px;
}